<div class="cmex-admin-page-select">
    <div class="cmex-admin-page-search">
        <input type="search" name="cmex-admin-page-searchbox" placeholder="Suche..." />
    </div>
    <ul class="cmex-admin-page-list">
        <li><a href="#">Hier</a></li>
        <li><a href="#">stehen</a></li>
        <li><a href="#">später</a></li>
        <li><a href="#">die</a></li>
        <li><a href="#">Seiten!</a></li>
        <li><a href="#">mehr...</a></li>
        <li><a href="#">mehr...</a></li>
        <li><a href="#">mehr...</a></li>
        <li><a href="#">mehr...</a></li>
        <li><a href="#">mehr...</a></li>
        <li><a href="#">mehr...</a></li>
    </ul>
    <ul class="cmex-admin-page-tools">
        <li><a href="#" title="Neue Seite"><i class="cmex-admin-icon cmex-admin-icon-plus"></i></a></li>
        <li><a href="#" title="Duplizieren"><i class="cmex-admin-icon cmex-admin-icon-dupl"></i></a></li>
        <li><a href="#" title="Löschen"><i class="cmex-admin-icon cmex-admin-icon-remove"></i></a></li>
    </ul>
</div>
<div class="cmex-admin-property-column">
    <p>Hier kommen dann Einstellungen und Tools...</p>
    <fieldset>
        <legend>Seite</legend>
        <label for="page_identifier">Identifikation: </label>
        <input type="text" name="page_identifier">
    </fieldset>
</div>