<div class="cmex-admin-page-select">
    <ul class="cmex-admin-page-list">
        <li><a href="#">Hier</a></li>
        <li><a href="#">stehen</a></li>
        <li><a href="#">später</a></li>
        <li><a href="#">die</a></li>
        <li><a href="#">Seiten!</a></li>
        <li><a href="#">mehr...</a></li>
        <li><a href="#">mehr...</a></li>
        <li><a href="#">mehr...</a></li>
        <li><a href="#">mehr...</a></li>
        <li><a href="#">mehr...</a></li>
        <li><a href="#">mehr...</a></li>
    </ul>
    <ul class="cmex-admin-page-tools">
        <li>Neu</li>
        <li>Duplizieren</li>
        <li>Löschen</li>
    </ul>
</div>
<div class="cmex-admin-property-column">
    <p>Hier kommen dann Einstellungen und Tools...</p>
    <fieldset>
        <legend>Seite</legend>
        <label for="page_identifier">Identifikation: </label>
        <input type="text" name="page_identifier">
    </fieldset>
</div>