{% extends "admin/layout.twig" %}

{% block title %}
Media
{% endblock %}

{% block head %}
{{ parent() }}
<script data-main="{{ asset("admin/mediaman/app-bootstrap.js") }}" src="{{ asset("admin/mediaman/dependencies/require.js") }}"></script>
{% endblock %}

{% block sidebar %}
<h3>Actions</h3>
<button class="btn"><i class="icon-plus"></i> Upload</button>
<button class="btn"><i class="icon-folder-open"></i> New Dir</button>
{% endblock %}

{% block content %}
<ul class="breadcrumb">
    <li><select style="height: auto; margin-bottom: 0;" name="driver" class="input-small"><option value="local">local</option></select><span class="divider">/</span></li>
    <li><a href="#">screenshots</a> <span class="divider">/</span></li>
    <li><a href="#">subdir1</a> <span class="divider">/</span></li>
</ul>
<ul class="thumbnails">
</ul>
{% endblock %}