{% extends "admin/layout.twig" %}

{% block title %}
Benutzerverwaltung
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
	<a href="{{ url('admin/user') }}" class="btn">Zurück</a>
    <p>Benutzer hinzufügen...</p>
{% endblock %}