{% extends "admin/layout.twig" %}

{% block title %}
Benutzerverwaltung
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <p>Benutzer hinzufügen...</p>
	<a href="{{ url('admin/user') }}">Zurück</a>
{% endblock %}