{% extends "layout.twig" %}

{% block title %}
Blog
{% endblock %}

{% block sidebar %}
<h3>Blog</h3>
<p>Dies ist ein Test, ob die Moduladministrationen richtig eingebunden werden!</p>
{% endblock %}

{% block content %}
<h3>Blogs</h3>
<p>Bitte wählen Sie ein Blog:</p>
<ul>
    <li><a href="#">Neuigkeiten</a></li>
    <li><a href="#">Abteilung B</a></li>
    <li><a href="#">Produkte</a></li>
</ul>
{% endblock %}