{% extends "layout.twig" %}

{% block title %}
Dashboard
{% endblock %}

{% block head %}
{{ parent() }}

<style>
  .column { margin-left: 10px; padding-bottom: 50px; }
  .portlet { margin: 0 0 1em 0; -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);*zoom:1; }
  .portlet-header .ui-icon { float: right; }
  .portlet-content { padding: 0.4em; }
  .ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
  .ui-sortable-placeholder * { visibility: hidden; }
  .ui-icon {
    margin-top: 3px;
    line-height: 25px;
  }
  .portlet-header {
    font-size: 95%;
    font-weight: bold;
    line-height: 25px;
    margin: 0.3em; 
    
    padding-left: 1em;
    background-color:#fafafa;
    background-image:-moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image:-webkit-linear-gradient(top, #ffffff, #f2f2f2);background-image:-o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image:linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    border:1px solid #d4d4d4;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);*zoom:1;
    }
  </style>
{% endblock %}

{% block secondarycolumn %}
{% endblock %}

{% block primarycolumn %}
        <div class="span12">

<div class="span6 column">
 
  <div class="portlet">
    <div class="portlet-header">Statistik</div>
    <div class="portlet-content"><p>Hier können später Zugriffstatistiken stehen</p></div>
  </div>
 
  <div class="portlet">
    <div class="portlet-header">News</div>
    <div class="portlet-content"><p>News aus der Entwicklung</p></div>
  </div>
 
</div>
 
<div class="span6 column">
 
  <div class="portlet">
    <div class="portlet-header">Hilfe</div>
    <div class="portlet-content"><p>Lästig zu erstellen, praktisch für den Nutzer...</p></div>
  </div>

  <div class="portlet">
    <div class="portlet-header">ModuleServiceProvider-Test</div>
    <div class="portlet-content"><p>{{ test }}</p></div>
  </div>
 
</div>

<script>
  $(function() {
    $( ".column" ).sortable({
      connectWith: ".column"
    });
 
    $( ".portlet" ).addClass( "ui-helper-clearfix" )
      .find( ".portlet-header" )
        //.addClass( "ui-widget-header ui-corner-all" )
        .prepend( "<span class='ui-icon ui-icon-minusthick'></span>")
        .end()
      .find( ".portlet-content" );
 
    $( ".portlet-header .ui-icon" ).click(function() {
      $( this ).toggleClass( "ui-icon-minusthick" ).toggleClass( "ui-icon-plusthick" );
      $( this ).parents( ".portlet:first" ).find( ".portlet-content" ).toggle();
    });
 
    $( ".portlet-header" ).disableSelection();
  });
  </script>
        </div>
{% endblock %}