{% extends "layout.twig" %}

{% block title %}
Benutzerverwaltung
{% endblock %}

{% block head %}
{{ parent() }}
{% include "userhead.twig" %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
	<a href="{{ url('admin/user') }}" class="btn">Zurück</a>
	<form action="{{ url('admin/user') }}" method="post">
		<div class="tabs" id="user-tabs">
			<ul>
				<li><a href="#user-info">Informationen</a></li>
				<li><a href="#user-groups">Gruppen</a></li>
				<li><a href="#user-permissions">Rechte</a></li>
			</ul>
			<div id="user-info" class="user-edit-content">
				<table class="user-table">
					<tbody>
						<tr>
							<th>Name:</th><td><input type="text" name="lastName" value="" /></td>
						</tr>
						<tr>
							<th>Vorname:</th><td><input type="text" name="firstName" value="" /></td>
						</tr>
						<tr>
							<th>E-Mail:</th><td><input type="text" name="email" value="" /></td>
						</tr>
						<tr>
							<th>Passwort:</th><td><input type="text" name="password" value="" /></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="user-groups" class="user-edit-content">
				<table>
	{% for group in groups %}
					<tr>
						<td>{{ group.name }}</td><td><a href="#">hinzufügen</a></td>
					</tr>
	{% endfor %}
				</table>
			</div>
			<div id="user-permissions" class="user-edit-content">
				<p>Rechtesystem sucks</p>
			</div>
		</div>
		<input type="submit" class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-all" />
	</form>
	
	<script>
	<!--
	
	$(function() {
		$('.tabs').tabs({
			beforeLoad: function( event, ui ) {
				ui.jqXHR.error(function() {
					ui.panel.html("Couldn't load this tab. We'll try to fix this as soon as possible.");
				});
			}
		});
	});
	
	//-->
	</script>
{% endblock %}