#cmex-admin-toolbar-container {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    width: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    height: 50px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-align: right;
}

.cmex-admin-toolbar-hidden {
    background: transparent !important;
}

.cmex-admin-toolbar-hidden .cmex-admin-toolbar {
    display: none;
}

.cmex-admin-toggle {
    float: left;
}

.cmex-admin-toggle li, .cmex-admin-toolbar li {
    display: inline;
    list-style-type: none;
    line-height: 50px;
    margin-right: 10px;
}

.cmex-admin-btn {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 8px;
    border-radius: 3px;
}

.cmex-admin-btn:hover {
    text-decoration: none;
    color: #fff;
}