#cmex-admin-toolbar-container {
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

    width: 100%;
    margin: 0;
    padding: 0;
    color: #777;
    height: 40px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    text-align: right;
    text-shadow: 0 1px 0 #fff;
    border: 1px solid #d4d4d4;
}

.cmex-admin-toolbar-hidden {
    background: transparent !important;
    border: none !important;
}

.cmex-admin-toolbar-hidden .cmex-admin-toolbar,
.cmex-admin-toolbar-hidden .cmex-admin-pagebar,
.cmex-admin-pageman-hidden {
    display: none;
}

.cmex-admin-toolbar-hidden .cmex-admin-toggle .cmex-admin-btn {
    background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.cmex-admin-toggle {
    float: left;
    width: 20%;
    text-align: left;
    margin: 0;
    padding: 0 10px;
}

.cmex-admin-toolbar {
    margin: 0;
}

.cmex-admin-toggle li, .cmex-admin-toolbar li {
    display: inline;
    list-style-type: none;
    line-height: 40px;
    margin-right: 10px;
}

.cmex-admin-btn {
    color: #777;
    font-weight: 200;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
}

.cmex-admin-btn:hover {
    text-decoration: none;
    color: #333;
}

.cmex-admin-pagebar {
    float: left;
    width: 55%;
    line-height: 40px;
    text-align: center;
    /*clear: none;*/
}

.cmex-admin-pagebar p {
    font-size: 120%;
    font-weight: 200;
    cursor: pointer;
    margin: 0;
}

.cmex-admin-pagebar p a {
    color: #777;
    display: block;
    text-decoration: none;
}

.cmex-admin-pagebar p a:hover {
    text-decoration: none;
}

#cmex-admin-pageman {
    position: fixed;
    top: 42px;
    width: 60%;
    left: 20%;
    background: #fff;
    height: 50%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 3px 3px 5px #777;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}

.cmex-admin-page-select {
    width: 25%;
    float: left;
    height: 100%;
    background: #f5f5f5;
    border-bottom-left-radius: 5px;
}

.cmex-admin-page-list {
    list-style-type: none;
    padding-top: 10px;
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
    height: 88%;
}

.cmex-admin-page-list li {
    line-height: 20px;
}

.cmex-admin-page-list li a {
    padding: 3px 15px;
    display: block;
    color: #0088cc;
    text-decoration: none;
}

.cmex-admin-page-list li a:hover {
    text-decoration: none;
    background-color: #eee;
}

.cmex-admin-page-tools {
    position: absolute;
    bottom: 0;
    list-style-type: none;
    /*padding: 4px;*/
    margin: 0;
    padding: 3px 0;
    background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

    width: 25%;
    border-bottom-left-radius: 4px;
}

.cmex-admin-page-tools li:first-child {
    margin-left: 10px;
}

.cmex-admin-page-tools li {
    display: inline;
    padding: 3px;
}

.cmex-admin-property-column {
    width: 75%;
    float: left;
    height: 100%;
}

.cmex-admin-property-column p {
    padding: 5px;
}

.cmex-admin-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../bootstrap/img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

.cmex-admin-icon-plus {
    background-position: -408px -96px;
}

.cmex-admin-icon-dupl {
    background-position: -24px -24px;
}

.cmex-admin-icon-remove {
    background-position: -312px 0;
}

.cmex-admin-icon-th-list {
    background-position: -264px 0;
}