body {
    background: #ECE5CE;
    font-family: open-sans, sans-serif;
}

.top {
    background: #774F38;
    border-bottom: 5px solid #F1D4AF;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top h1 {
    color: #fff;
    font-weight: normal;
}

.center {
    background: #ECE5CE;
    padding-top: 30px;
    padding-bottom: 30px;
}

.center h2, .center h4 {
    font-size: 250%;
    color: #E08E79;
    font-family: lobster-two, serif;
}

.center .hero-unit {
    margin-top: -30px;
    background: #F1D4AF;
    color: #000;
}

.center .hero-unit h1 {
    font-family: lobster-two, serif;
}

.search {
    margin-right: 10px;
    margin-top: 15px;
}

.sidebar ul {
    list-style-type: none;
    margin-left: 10px;
}

.sidebar li {
    padding-top: 5px;
    padding-left: 5px;
    margin-left: 5px;
    border-left: 3px solid #774F38;
    margin-top: 3px;
}

.sidebar li > ul > li {
    border-left: none;
}

.sidebar li a {
    display: block;
    font-size: 120%;
    font-family: open-sans, sans-serif;
}

h1 {
    margin-left: 5px;
}

a {
    color: #774F38;
}

a:hover {
    color: #E08E79;
}

.active {
    font-weight: bold;
}

.form-actions {
    background: #E08E79;
}

.footer p {
    text-align: center;
}

.muted {
    color: #7D6C63;
}