/*.ui-dialog {
    background-clip: padding-box;
    background-color: #333;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.ui-dialog-titlebar {
    color: #fff;
    font-weight: normal;    
}

.ui-dialog-title {
    font-weight: normal;
}*/