{{ openForm }}
<div class="input-append">
  <input class="span2" id="appendedInputButton" placeholder="Suche..." name="searchquery" type="text">
  <button class="btn" type="submit">Go!</button>
</div></form>