{{ open_form("post", "frontendlogin", url('doLogin')) }}
<input type="text" name="name" class="input-small" placeholder="Benutzername">
        <input type="password" name="password" class="input-small" placeholder="Passwort">
        <button class="btn" type="submit">Login</button>
    </form>